{% extends "base.html" %}
{% load bootstrap_pagination staticfiles %}

{% block contents %}
  <h2>{{ object.title }}</h2>
  <a href="{{ object.youtube_url }}" title="Ссылка на видео на Youtube" class="thumbnail-block">
    <img width="320" alt="Thumbnail" src="//i1.ytimg.com/vi/{{ object.youtube_id }}/mqdefault.jpg" />
    {% if object.length_video or object.length_audio %}
      <span class="time-block">{% if object.length_video %}{{ object.video_length }}{% endif %}{% if object.length_audio %} ({{ object.audio_length }}){% endif %}</span>
    {% endif %}
  </a>

  <div class="podcast-info">
    {% if not object.file %}
      {% if object.celery_task %}
        <div><span id="no-file" class="hidden">MP3-файл не создан.</span> <button id="convert-button" class="btn btn-primary">Идет преобразование</button></div>
      {% else %}
        <div><span id="no-file">MP3-файл не создан.</span> <button id="convert-button" class="btn btn-primary">Запустить преобразование</button></div>
      {% endif %}
      <p></p>
      <div id="error-alert" class="alert alert-warning hidden">Невозможно преобразовать!</div>
    {% endif %}
    <div {% if not object.file %}class="hidden"{% endif %} id="player_block">
      <div id="jquery_jplayer_1" class="jp-jplayer"></div>

      <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
          <div class="jp-gui jp-interface">
            <ul class="jp-controls">
              <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
              <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
              <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
              <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
            </ul>
            <div class="jp-progress">
              <div class="jp-seek-bar">
                <div class="jp-play-bar"></div>
              </div>
            </div>
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
            <div class="jp-time-holder">
              <div class="jp-current-time"></div>
              <div class="jp-duration"></div>
            </div>
          </div>
          <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
          </div>
        </div>
      </div>
      <p></p>
      <p><a id="download-button" role="button" class="btn btn-primary" href="">Скачать</a></p>
    </div>
    <p>Дата: {{ object.pub_date|date:'d-m-Y' }}</p>
    {{ object.description|urlize|linebreaks }}
  </div>
  <div class="clearfix"></div>
{% endblock %}

{% block extrajs %}
  <link rel="stylesheet" href="{% static 'css/skin/blue.monday/jplayer.blue.monday.css' %}" />
  <script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
  <script>
    function show_player(url, autostart) {
      $("#player_block").removeClass("hidden");
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {mp3: url});
          if(autostart){
            $(this).jPlayer('play');
          }
        },
        swfPath: "{% static 'js' %}",
        supplied: "mp3",
        wmode: "window",
        smoothPlayBar: true,
        keyEnabled: false
      });
      $("#download-button").attr("href", url);
    }

    var interval_id = 0;

    function check_converting_status() {
      $.ajax("{% url "check-converting-status" object.pk %}")
          .done(function(data){
            if(data.result == "ok") {
              clearInterval(interval_id);
              $("#convert-button").parent().remove();
              show_player(data.url, 0);
            }
            else if(data.result == "error") {
              clearInterval(interval_id);
              $("#error-alert").removeClass("hidden");
              $("#convert-button").text("Попробовать снова");
              $("#no-file").removeClass("hidden");
            }
          });
    }

    $(document).ready(function(){
      {% if object.file %}show_player("{{ object.file.url }}", 0);{% endif %}
      {% if not object.file %}
        $("#convert-button").click(function(){
          $.ajax("{% url "order-converting" object.pk %}")
{#              .done(function(data){ #}
              .done(function(){
                // TODO: check for answer
                // TODO: rolling waiting symbol
                $("#no-file").addClass("hidden");
                $("#error-alert").addClass("hidden");
                $("#convert-button").text("Идет преобразование");
                interval_id = setInterval(check_converting_status, 5000);
              });
        });
      {% endif %}
      {% if object.celery_task %}
        interval_id = setInterval(check_converting_status, 5000);
      {% endif %}
    });
  </script>
{% endblock %}
