{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block contents %}
  <div class="row">
  {% for object in object_list %}


    <div class="col-md-4">
      <a class="thumbnail-block" href="{{ object.get_absolute_url }}">
        <img alt="Thumbnail" src="//i1.ytimg.com/vi/{{ object.youtube_id }}/mqdefault.jpg">
        {% if object.length_video or object.length_audio %}
          <span class="time-block">{% if object.length_video %}{{ object.video_length }}{% endif %}{% if object.length_audio %} ({{ object.audio_length }}){% endif %}</span>
        {% endif %}
      </a>
      <div class="clearfix"></div>
      <p>{{ object.title }}</p>
    </div>
    {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
    {% endif %}
  {% endfor %}
  </div>

  {% if is_paginated %}
    {% bootstrap_paginate page_obj range=5 show_first_last="true" %}
  {% endif %}

{% endblock %}

{% block extrajs %}
  <script>
    $(document).keydown(function (event) {
      var keycode = event.keyCode ? event.keyCode : event.which;
      if (event.ctrlKey) {
        if (keycode === 39) {
            var nextExists = $('.pagination li.next a').attr('href');
            if (nextExists) window.location.href = nextExists;
        }
        if (keycode === 37) {
            var previousExists = $('.pagination li.previous a').attr('href');
            if (previousExists) window.location.href = previousExists;
        }
      }
    });
  </script>
{% endblock %}
