{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SiliconValleyVoice в формате MP3</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://s.ytimg.com/yts/cssbin/www-home-c4-2x-vfl7xcObT.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block extrahead %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            SiliconValleyVoice в формате MP3
          </a>
          <a class="navbar-brand" href="#">
            <span id="header-help" class="glyphicon glyphicon-question-sign" data-content="Ускоренные на 20%"></span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <p class="pull-right">
            <a title="Подписаться на подкаст" href="http://feeds.feedburner.com/svv_mp3"><img width='48' height='48' src="{% static 'img/rss.png' %}"/></a>
          </p>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div id="gh-banner">
          <style>
            #c4-header-bg-container {
              background-image: url(https://i1.ytimg.com/u/U4EZpLc84IZMFnpp1TyiKg/channels4_banner.jpg?v=516cab29);
            }

            @media screen and (-webkit-min-device-pixel-ratio: 1.5),
            screen and (min-resolution: 1.5dppx) {
              #c4-header-bg-container {
                background-image: url(https://i1.ytimg.com/u/U4EZpLc84IZMFnpp1TyiKg/channels4_banner_hd.jpg?v=516cab29);
              }
            }
          </style>
          <div id="c4-header-bg-container" class=" has-custom-banner">
            <a class="channel-header-profile-image-container spf-link" href="http://youtube.com/user/SiliconValleyVoice">
              <img class="channel-header-profile-image" src="https://lh6.googleusercontent.com/-d6hy1ZrOotM/AAAAAAAAAAI/AAAAAAAAAAA/aGKhTWlsFzw/s100-c-k-no/photo.jpg" title="SiliconValleyVoice" alt="SiliconValleyVoice">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      {% block contents %}{% endblock %}

      <hr>
      <footer>
        <p>Сайт &copy; <a href="http://blog.f-y.name">Anton Novosyolov</a> 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %}{% endblock %}
    <script>
      $('#header-help').popover({trigger: 'hover'});
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45582777-1', 'f-y.name');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript">
      var reformalOptions = {
      project_id: 235471,
      project_host: "feedback.svv.f-y.name",
      force_new_window: true,
      tab_orientation: "left",
      tab_indent: "50%",
      tab_bg_color: "#F05A00",
      tab_border_color: "#FFFFFF",
      tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/2a94cfe6511106e7a48d0af3904e3090/left/1/tab.png",
      tab_border_width: 2
      };

      (function() {
      var script = document.createElement('script');
      script.type = 'text/javascript'; script.async = true;
      script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
      document.getElementsByTagName('head')[0].appendChild(script);
      })();
    </script>
    <noscript>
      <a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://feedback.svv.f-y.name">Oтзывы и предложения для SiliconValleyVoice в MP3</a>
    </noscript>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22925758 = new Ya.Metrika({id:22925758,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/22925758" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
