Django==1.9.7
git+https://github.com/restless/django-bootstrap-pagination.git@95447579bbea0d2733809b2921e8b1cd83e02929
django-bootstrap-form==3.2.1
amqp==2.0.2
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
kombu==3.0.35
pytz==2016.4
django-celery==3.1.17
django-haystack==2.4.1
elasticsearch==2.3.0
python-dateutil==2.5.3
requests==2.10.0
urllib3==1.16
simplejson==3.8.2
six==1.10.0
sqlparse==0.1.19
psycopg2==2.6.1
