Django==1.10.4
git+https://github.com/restless/django-bootstrap-pagination.git@95447579bbea0d2733809b2921e8b1cd83e02929
django-bootstrap-form==3.2.1
amqp==2.1.2
anyjson==0.3.3
billiard==3.5.0.2
celery==4.0.0
kombu==4.0.0
pytz==2016.10
django-celery==3.1.17
django-haystack==2.5.1
elasticsearch==5.0.1
python-dateutil==2.6.0
requests==2.12.3
urllib3==1.19.1
simplejson==3.10.0
six==1.10.0
sqlparse==0.2.2
psycopg2==2.6.2
