Django==1.6.2
South==0.8.4
git+https://github.com/Forever-Young/django-bootstrap-pagination.git@aabb7f1bfa5ae83a43d8698ee51518dbdd441742
django-bootstrap-form==3.1
amqp==1.4.4
anyjson==0.3.3
billiard==3.3.0.16
celery==3.1.10
kombu==3.0.14
pytz==2014.1.1
django-celery==3.1.10
git+https://github.com/toastdriven/django-haystack.git@8739e333133a7b495b88a3e41f17e75a009f5cfc
elasticsearch==1.0.0
python-dateutil==2.2
requests==2.2.1
urllib3==1.7.1
simplejson==3.3.3
six==1.6.1
sqlparse==0.1.11
